@model List<ProjectDatabaseGroep5.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<div class="text-center">
    <h1 class="display-4">Rooms</h1>
    <p>number of rooms in the list: @Model.Count</p>
</div>

<form action="~/Rooms/Index" method="GET">
    <div class="w-50 mx-auto">
        <label for="roomFilterer">Filter room by size</label>
        <div class="input-group">
            <input type="text" id="roomFilterer" class="form-control" placeholder="Size">
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Filter"></input>
            </div>
        </div>
    </div>
</form>

<a href="/Room/Create">Create a room</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Size (beds)
            </th>
            <th>
                Type
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Room room in Model)
        {   
            string roomType = "Student";
            string adjustedRoomNumber = $"{room.BuildingId.ToString()}-{room.BuildingId}-{room.LocationNumber}";

            if (room.AvailableBeds > 1)
            {
                roomType = "Lecturer";
            }

            <tr>
                <td>
                    @adjustedRoomNumber
                </td>
                <td>
                    @room.AvailableBeds
                </td>
                <td>
                    @roomType
                </td>
                <td>
                    <a href="/Room/Edit/@room.RoomId">Edit</a> | <a href="/Room/Delete/@room.RoomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>